.App {
  width: 800px;
  margin: auto;
}

html{
  background-color: #FAFAF9;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.buttongroup{
  display: flex;
  gap: 10px;
  align-items: center;
}

.newbutton {
  background-color: #075985;
  border-radius: 8px;
  width: 94px;
  height: 36px;
  transition: all 0.3s;
}

.newbutton:active {
  opacity: 0;
}

.clearbutton p{
  margin: auto;
  padding: 8px 16px;
}

.clearbutton{
  font-family: 'inter' 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 600;
  color: #BE123C;
  background-color: #FAFAF9;
  width: 68px;
  height: 36px;
  text-align: center;
}

.newbutton p {
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 600;
  color: #F0F9FF;
  padding: 8px 16px;
  margin: auto;
}

h1{
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 700;
}

.card{
  width: 800px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 
    0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 1px 3px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
}

.todo{
  height: 52px;
  justify-content: space-around;
}

.empty {
  height: 112px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-weight: 500;
  transition: transform 0.3s;
}

.shifted {
  transform: translateY(25px);
}

.card img{
  width: 24px;
  height: 24px;
}

.card p {
  width: 688px;
}

.body{
  display: flex;
  flex-direction: column;
  gap: 15px;
}




.create{
  width: 76px;
  height: 36px;
  background-color: #075985;
  color: #F0F9FF;
  border-radius: 8px;
}

.create p {
  margin: auto;
  padding: 8px 16px;
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 600;
}



textarea{
  width: 600px;
  height: 36px;
  background-color: #FAFAF9;
  border: none;
  color: #1C1917;
  font-size: 16px;
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-weight: 400;
  resize: none;
  overflow: hidden;
  
}

textarea::placeholder{
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 400;
  color: #D6D3D1;
}

textarea:focus{
  outline: none;
}

.inputsection{
  display: flex;
  justify-content: space-between;
}

.inputvalidation{
  display: flex;
  flex-direction: column;
  padding: 12px 10px;
  color: #E11D48;
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-size: 12px;
  font-weight: 500;
}

.finished{
  opacity: 0.5;
}

.hoverable:hover{
  cursor: pointer;
}

.modal{
  width: 300px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 
    0px 2px 4px -1px rgba(0, 0, 0, 0.06),
    0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalbuttongroup{
  background-color: #FAFAF9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.modalcancel{
  width: 128px;
  height: 36px;
  text-align: center;
}

.modalcancel p{
  padding: 8px 16px;
  font-size: 14px;
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-weight: 600;
  margin: auto;
}

.modalconfirm{
  background-color: #9F1239;
  color: #FFF1F2;
  width: 128px;
  height: 36px;
  text-align: center;
  border-radius: 8px;
}

.modalconfirm p{
  padding: 8px 16px;
  margin: auto;
}

.modalbody{
  text-align: center;
  padding: 40px 10px;
}

.modalbody p{
  margin: 0;
}



@font-face {
  font-family: 'inter';
  src: url(../public/Inter-VariableFont_slnt\,wght.ttf);
}

