.App {
  background-color: #FAFAF9;
  width: 800px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

.buttongroup{
  display: flex;
  gap: 10px;
  align-items: center;
}

.newbutton {
  background-color: #075985;
  border-radius: 8px;
  width: 94px;
  height: 36px;
  
}

.clearbutton p{
  margin: auto;
  padding: 8px 16px;
}

.clearbutton{
  font-family: 'inter' 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 600;
  color: #BE123C;
  background-color: #F0F9FF;
  width: 68px;
  height: 36px;
  text-align: center;
}

.newbutton p {
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 600;
  color: #F0F9FF;
  padding: 8px 16px;
  margin: auto;
}

h1{
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 700;
}



@font-face {
  font-family: 'inter';
  src: url(../public/Inter-VariableFont_slnt\,wght.ttf);
}

